body{
	font-family: 'Open Sans', sans-serif;
}

th{
	padding:5px 10px 5px 10px;
	font-size: small;
	color: white;
	background-color: darkcyan;	
}

#datainput{
	width: 400;
	float:left;
}

#container{
	float:left;
	margin: 0px 10px 10px 20px;
	border:1px gray solid;
}

#wrapper{
	width:1072;
	margin-left:auto;
	margin-right:auto;

}

#intro{
	font-style: italic;
	font-size: small;
}